coverage.html
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.swp
*.swo
.coverage_data
cover_html

.DS_Store
lib-cov
benchmarks
node_modules
dist
.idea
temp
temp.*
dev
build
deprecated
samples-js

/lib/compiler/metacompiled.js
